:root {
  --color-green: #4a666b;
  --color-green-hover: #b6c1c3;
  --color-black: #180222;
  --color-light-blue: #c3e7ef;
  --color-light-blue-hover: #b8dae3;
  --color-yellow: #e6edaa;
  --color-blue: #405aa8;
  --color-blue-hover: #6177A8;
}

/* --------------------- editing squarespace defaults --------------------- */
 

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.header-nav-list .header-nav-item:not(:first-child) {
  border-left: 1px solid var(--color-blue);
  margin-left: 1vw !important;
  padding-left: 1vw !important;
}

.gallery-fullscreen-slideshow[data-width="full"] {
  padding-top: 10px;
  padding-bottom: 10px;
}

.accordion-divider {
  color: transparent !important;
  height: 0 !important;
  border-top: 1px solid var(--color-blue);
}

/* --------------------- pages --------------------- */

#block-f9993bdf5703f951614f,
#block-58433e1404ca0f91b26a,
#block-a57592029078f77dbbd1,
#block-7019dc591979b8ab9e14 {
  /* justifying and padding text in booking process*/
  padding-left: 5%;
  padding-right: 5%;
  max-width: 90%;
  text-align: justify;
}

#block-99c7d16e95030a1a0d53,
#block-90322793d0b24229d39a,
#block-f120455e0cf5d7653b58,
#block-3f66047e7d7d98e97b45 {

  /* modifying title size in booking process boxes */
  .sqsrte-text-color--accent {
    font-size: 1.3em;

    @media screen and (min-width: 900px) {
      font-size: 95%;
    }
  }
}

/* colored side borders on amenities page */
body#collection-65660ef32544614ca59367b1 {
  border-left: 50px solid var(--color-yellow);
  border-right: 50px solid var(--color-yellow);

  @media screen and (max-width: 900px) {
    border-left: 25px solid var(--color-yellow);
    border-right: 25px solid var(--color-yellow);
  }
}

/* colored side borders on booking pages page */
#collection-66958a2e8ed68a155fb7bda1, #collection-66bb8569d40cb46c35978715 {
  border-left: 25px solid var(--color-yellow);
  border-right: 25px solid var(--color-yellow);

  @media screen and (max-width: 900px) {
    border-left: 10px solid var(--color-yellow);
    border-right: 10px solid var(--color-yellow);
  }
}

[data-section-id="66958a2e8ed68a155fb7bda7"], [data-section-id="66bb8569d40cb46c35978718"] .section-background {
  background-color: #f8f9fa;
}

/* making text on questions? inquiries? button smaller so it fits on mobile on indvid space pages */
#block-4df832e96b10fa56a824 * {
  @media screen and (max-width: 900px) {
    font-size: 107%;
  }
}

/* --------------------- w javascript --------------------- */

a.text-click {
  /* if code box with "clickable" and hyperlink makes whole box clickable */
  /* <a href="url" class="text-click"></a> */
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgba(0, 0, 0, 0.5) !important;
  border-radius: 30px;
}

a.text-click:hover {
  @media screen and (min-width: 900px) {
    background: var(--color-light-blue);
    opacity: 0.1;
  }
}

#back-to-top {
  /* scroll back to the map on spaces page */
  height: 50px;
  width: 50px;
  position: fixed;
  right: 0;

  border-radius: 50%;
  box-shadow: 0px 0px 5px #ccc;
  margin: 17px;
  background: white;

  /*Position Out of View*/
  bottom: -150px;
  opacity: 0;
  transition: all .5s ease;
}

#back-to-top.show-btt {
  bottom: 0;
  opacity: 1;
  transition: all .5s ease;
}

.slideshow-container {
  /* slideshow in code box */
  max-width: 100%;
  position: relative;
  margin: auto;
  max-height: 425px;

  @media screen and (max-width: 900px) {
    max-height: 100px;
  }

  img {
    vertical-align: middle;
  }

  .mySlides {
    display: none;
  }
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 39%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  @media screen and (min-width: 900px) {
    background-color: var(--color-light-blue);
  }
}

#changeText {
  /* swap between words on home page */
  opacity: 1;
  transition: opacity 0.5s;
  display: inline-block;
  width: 30%;
}

.hide {
  opacity: 0 !important;
}


.dropdown {
  /* dropdown with links */
  position: relative;
  display: inline-block;
}

.dropdown_button {
  color: white;
  background-color: var(--color-blue);
  width: 150px;
  height: 50px;
  font-size: 120%;
  border: none;
}

.dropdown_button:hover {
  background-color: var(--color-blue-hover);
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: var(--color-light-blue);
  min-width: 150px;
  border: 1px var(--color-green);
  z-index: 1;
  text-align: center;
}

.dropdown_content a {
  color: var(--color-black);
  text-decoration: none;
  padding-top: 12px;
  padding-bottom: 12px;
  display: block;

  .image_text {
    display: flex;
    align-items: center;

    img,
    i {
      height: 20px !important;
      float: left;
      margin-right: 10px;
      margin-left: 10px;
    }
  }
}

.dropdown_content a:hover {
  background-color: var(--color-light-blue-hover);
}

.show_dropdown {
  display: block;
}



/* --------------------- classes --------------------- */

.map-wrapper {
  /* Space map on spaces page w/ click to jump down */
  width: 100%;
  position: relative;

  .map-area {
    position: absolute;
    fill-opacity: 0;
  }

  rect:hover {
    fill-opacity: 0.3;
    fill: var(--color-light-blue);
    filter: blur(10px);
  }
}


.space_desc_box {
  /* box with dashed edges- used in Spaces page */
  border: 1px dashed;
  padding: 1% 3% 2% 3%;
  height: 400px;
  background: white;

  h3 {
    margin: 0.2em auto 0.3em auto;
    color: var(--color-blue);
    text-align: center;
    font-size: 170%;
      margin-bottom: 25px;

    @media screen and (max-width: 900px) {
      font-size: 130%;
    }
  }

  button {
    font-size: 120%;
    margin-left: 25%;
    color: white;
    background-color: var(--color-blue);
    padding: 2% 8% 2% 8%;
    position: absolute;
    top: 78%;
    border: none;
    white-space: nowrap;
    overflow: hidden;

    @media screen and (max-width: 900px) {
      margin-left: 12%;
      top: 82%;
    }
  }

  button:hover {
    background-color: var(--color-blue-hover);
  }
}


.icon_row {
  /* Puts icons in row evenly spaced */
  width: 90%;
  display: inline-flex;
  justify-content: space-evenly;
  grid-gap: 20px;

  @media screen and (max-width: 900px) {
    margin-bottom: 20px;
    font-size: 85%;
    margin-top: -20px;
  }

  .price {
    @media screen and (max-width: 900px) {
      width: 140px;
      padding-top: 10%;
    }
  }
}

.icon_row>* {
  height: 90%;
}

.row_wrapper {
  text-align: center;
  margin-bottom: 10px;
}


.icon_text_list {
  /* List of icons next to text */
  width: 200px;

  .item {
    margin-bottom: -5px;

    img {
      height: 20px !important;
      float: left;
      margin-right: 10px;

      @media screen and (max-width: 900px) {
        margin-right: 5px;
      }
    }

    @media screen and (max-width: 900px) {
      margin-bottom: -10px;
    }
  }
}


.two_columns {
  /* Puts two divs next to each other */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

  .column {
    h4 {
      margin-top: 0;
      margin-bottom: -5px;
    }

    .column_title {
      font-size: 150%;
      margin-bottom: 10px;
      text-align: center;

      @media screen and (max-width: 900px) {
        margin-bottom: 10px;
        font-size: 130%;
      }
    }

    @media screen and (max-width: 900px) {
      margin-bottom: 5px;
    }
  }

  @media screen and (max-width: 900px) {
    margin-bottom: 10px;
  }
}


.amenities_columns {
  /* Puts two divs next to each other */
  display: grid;
  grid-template-columns: 1.25fr 1fr;
  column-gap: 30px;
  justify-content: center;
  
  @media screen and (max-width: 900px){
    margin-bottom: 15px;
  }

  .column {
    h4 {
      margin-top: 0;
    }

    .column_title {
      font-size: 150%;
      margin-bottom: 10px;
      text-align: center;

      @media screen and (max-width: 900px) {
        font-size: 130%;
      margin-bottom: 0px;
      }
    }
    
    .mobile {
      @media screen and (max-width: 900px) {
        font-size: 120%;
        margin-top: 10px;
        margin-bottom: -5px;
        justify-text: center;
      }
    }
  }
  
  @media screen and (max-width: 900px) {
    grid-template-columns: repeat(auto-fit, 80vw);
  }
}

#amenities_col {
  grid-template-columns: 1fr 1fr;
  column-gap: 0px;
  
  @media screen and (max-width: 900px) {
    padding-left: 20px;
    grid-template-columns: repeat(auto-fit, 80vw);
  }
}



.space_icon {
  /* Icon for guests, sqft, etc */
  text-align: center;

  p2 {
    display: block;
    padding-top: 2%;
  }

  img {
    height: 45px;
  }

  @media screen and (max-width: 900px) {
    img {
      height: 35px;
    }

    p2 {
      line-height: 20px;
      padding-top: 5px;
    }
  }
}

.setup_icon {
  /* Puts setups in row evenly spaced */
  width: 100%;
  margin-bottom: 10px;
  margin-top: -10px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  justify-content: center;
    
  .icon {
  /* Icon for setups */
  text-align: center;
  width: 150px;
    height: 100%;

  p2 {
    display: block;
    margin-top: 0px;
  }

  img {
    width: 70px;
  }

  @media screen and (max-width: 900px) {
    width: 120px;
  }
  }
}


.icon_text {
  /* Puts icons in row evenly spaced */
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  justify-content: space-between;

  img {
    height: 30px;
  }
}


.space_page {
  h2 {
    text-align: center;
    margin: 0;

    @media screen and (max-width: 900px) {
      font-size: 160%;
    }
  }
}
