:root {
  --color-green: #4a666b;
  --color-black: #180222;
  --color-light-blue: #c3e7ef;
  --color-yellow: #e6edaa;
  --color-blue: #405aa8;
}

/* --------------------- editing squarespace defaults --------------------- */


html,
body {
  max-width: 100%;
  overflow-x: hidden;
	scroll-behavior: smooth;
}

.header-nav-list .header-nav-item:not(:first-child) {
  border-left: 1px solid var(--color-blue);
  margin-left: 1vw !important;
  padding-left: 1vw !important;
}

.gallery-fullscreen-slideshow[data-width="full"] {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* --------------------- pages --------------------- */

/* --------------------- only home page --------------------- */
#block-yui_3_17_2_1_1720015239357_19291 {

  /* lines between lines in second section */
  h3:not(:first-child) {
    border-top: 1px solid var(--color-blue);
    padding-top: 10px;
    margin-top: -17px;
  }
}

@media screen and (min-width: 900px) {

  /* fixing spacing on mobile from lines */
  #block-yui_3_17_2_1_1720015239357_19291 h3 {
    line-height: 60px;
  }
}

#block-f9993bdf5703f951614f,
#block-58433e1404ca0f91b26a,
#block-a57592029078f77dbbd1,
#block-7019dc591979b8ab9e14 {
  /* justifying and padding text in booking process*/
  padding-left: 5%;
  padding-right: 5%;
  max-width: 90%;
  text-align: justify;
}

#block-99c7d16e95030a1a0d53,
#block-90322793d0b24229d39a,
#block-f120455e0cf5d7653b58,
#block-3f66047e7d7d98e97b45 {
	/* modifying title size in booking process boxes */
  .sqsrte-text-color--accent {
    @media screen and (max-width: 900px) {
      font-size: 1.3em;
    }

    @media screen and (min-width: 900px) {
      font-size: 95%;
    }
  }
}

/* --------------------- spaces --------------------- */

svg * {
  pointer-events: visable;
}

rect:hover {
  fill-opacity: 0.3;
  fill: var(--color-light-blue);
  filter: blur(10px);
}


/* --------------------- w javascript --------------------- */

a.text-click {
  /* if code box with "clickable" and hyperlink makes whole box clickable */
  /* <a href="url" class="text-click"></a> */
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgba(0, 0, 0, 0.5) !important;
  border-radius: 30px;
}

@media screen and (min-width: 900px) {
  a.text-click:hover {
    background: var(--color-light-blue);
    opacity: 0.1;
  }
}

/* --------------------- classes --------------------- */

.space_desc_box {
  /* box with dashed edges- used in Spaces page */
  border: 1px dashed;
  padding: 1% 3% 2% 3%;
  height: 450px;
  font-size: 80%;
  background: white;

  h3 {
    margin: 0.5em auto 0.2em auto;
    color: var(--color-blue);
  }

  p2 {
    font-size: 110%;
  }

  ul {
    margin: 0.4em auto 0.4em -0.5em;
    line-height: -1em;
    font-size: 110%;
  }

  button {
    font-size: 120%;
    margin: 4% 25% 2% 25%;
    color: white;
    background-color: var(--color-blue);
    padding: 2% 8% 2% 8%;
    position: absolute;
    top: 78%;
    border: none;
    white-space: nowrap;
    overflow: hidden;
  }
}

.studio_card {
  /* Space name/type cards to link to indvidual space pages for Book Now page */
  width: 99%;
  height: 425px;
  background: linear-gradient(to bottom, var(--color-blue) 40%, var(--color-blue) 54%, var(--color-light-blue) 50%, var(--color-light-blue) 100%);
  position: relative;
  box-shadow: 2px 2px 7px 1px #C0C0C0;

  >* {
    margin: 0;
    display: flex;
    color: white;
  }

  .img1 {
    object-fit: cover;
    height: 40%;
    width: 100%;
  }

  h1 {
    font-size: min(1.1em);
    color: white;
    padding: 3% 0% 5% 5%;
    display: inline-block;
    max-width: 44%;
  }

  table {
    position: absolute;
    font-size: 80%;
    display: inline-block;
    padding-left: 30%;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1.5em;
  }

  table td {
    padding: 2px;
  }

  .tablewide {
    padding-left: 18%;
  }

  .middle {
    width: 99%;
    height: 20%;
    display: flex;
    justify-content: center;
    top: 57%;
    color: black;
    font-size: 17px;
    position: absolute;
  }

  .middle img {
    max-width: 100%;
    height: 45px;
  }

  .middle .icon_item {
    max-height: 80%;
    display: inline-block;
    text-align: center;
    flex: 1;
  }

  .middle .icon_item span {
    display: block;
    padding-top: 5%;
    line-height: 1.5em;
  }

  .line {
    width: 90%;
    height: 1px;
    background: var(--color-blue);
    position: absolute;
    top: 84%;
    margin-left: 5%;
  }

  button {
    font-size: auto;
    font-weight: 300;
    margin: auto 15% auto 19%;
    color: white;
    background-color: var(--color-blue);
    padding: 2% 10% 2% 10%;
    border: none;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    top: 87%;
  }
}
